<!DOCTYPE html>
<html lang="en" class="dark h-full">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="foxpost">
    <meta name="rating" content="General">
    <title>{{ code }} {{ message }} - {{ global.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="An API for HTTP Foxes, the best type of HTTP error message." />
    <meta name="keywords" content="http, fox, http fox, http status fox, status fox, api, foxxo, error, http status" />
    <meta name="author" content="Jamie Murphy" />
    {% block meta %}
    {% endblock meta %}
    <link async defer href="/static/css/bundle.css" rel="stylesheet">
</head>

<body class="bg-slate-100 dark:bg-slate-800 text-slate-800 dark:text-slate-100 h-full flex flex-col transition-all">
    {% include 'nav' %}

    <div class="container mx-auto py-2.5 flex-grow">
        <main class="flex justify-center flex-col mb-4">
            <h1 class="text-center text-3xl my-3">{{ code }} {{ message }}</h1>
            <img class="w-full h-full max-w-3xl" alt="{{ message }}" loading="lazy" decoding="async"
                src="/{{ code}}.png" />

            <pre class="px-5 py-3 rounded bg-slate-300 dark:bg-slate-500 text-black dark:text-white my-2 flex justify-between items-center transition-all"
                id="usage_box"><a href="{{ global.base_url }}/{{ code }}">{{ global.base_url }}/{{ code }}</a><button title="Copy to Clipboard" class="flex p-2 h-10 rounded-lg bg-orange-300 hover:bg-orange-200 transition-all text-black" id="copy_clipboard_btn"><img alt="Copy to clipboard icon" class="w-8 invert transition-all" loading="lazy" decoding="async" src="/static/img/copy.svg"/></button></pre>

        </main>

        <h2 class="text-2xl mb-4">Description</h2>

        {% block notices %}
        {% endblock notices %}

        <p class="mb-4">
            {% block description %}
            {% endblock description %}
        </p>

        <h4 class="text-xl">See Also</h4>

        <ul class="list-disc ml-4 mb-4">
            {% block see_also %}
            {% endblock see_also%}
        </ul>

        <span class="italic">This fox graciously provided by <a class="hover:underline contrast-50"
                href="{{ credits.url }}">{{ credits.name }}</a></span>
    </div>

    {% include 'footer' %}

    <script src="/static/js/app.js"></script>
</body>

</html>