<footer class="flex m-auto justify-center p-4 space-x-4">
    <span class="italic">© <i id="copyright_year"></i> Jamie Murphy <a class="hover:underline contrast-50"
            href="https://github.com/ItsJamie9494/http.fox/graphs/contributors">and contributors</a></span>

    <span class="italic"><a class="hover:underline contrast-50" href="/credits">Thank you to those who contributed a
            fox!</a></span>
</footer>
</footer>