<footer class="flex m-auto justify-center p-4">
    <span class="italic">© <i id="copyright_year"></i> Jamie Murphy <a class="hover:underline contrast-75" href="https://github.com/ItsJamie9494/http.fox/graphs/contributors">and contributors</a></span>
</footer>